@font-face {
  font-family: 'ShortStack';
  src: url('fonts/ShortStack.ttf') format('truetype');
}

@media (max-width: 768px) {
  .row { flex-direction: column; }
  nav ul { flex-direction: column; gap: 0.1px; }
}


#navegador{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contenido{
  display:flex;
  flex-direction: column;
  align-items: center;

}

#contenido2{
    display: flex;
    flex-direction: row;
}

body{
    background-image: url(images/background_index.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
}
nav{
    background-image:url(images/texture.jpg);
    background-position: center;
}

ul,li{
    list-style-type: none;
    display: inline-flex;
    gap: 3em;
}

.boton_inicio{
    color:  #FFD700;
    font-family: "ShortStack";
    cursor:pointer;
    padding: 2em;
}

.logo{
    width: 20em;
}

.logonirvana{
    width: 75em;
    margin-bottom: -20em;
}

.boton_inicio:hover{
    padding: 2em;
    background-color: #FFD700;
    color: black;
}

.lema{
    font-size: 30px;
    color: aliceblue;
}

.card{
    border-color: aliceblue;
    background-color: white;
    padding: 10em;
    margin-left: 5em;
    display: flex;
}