
/*FUENTES QUE HE IMPORTADO*/

@font-face {
  font-family: 'ShortStack';
  src: url('fonts/ShortStack.ttf') format('truetype');
}

@font-face {
  font-family: 'Sunshiney';
  src: url('fonts/Sunshiney-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Staatliches';
  src: url('fonts/Staatliches-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JustMe';
  src: url('fonts/JustMeAgainDownHere-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Swanky';
  src: url('fonts/SwankyandMooMoo-Regular.ttf') format('truetype');
}

/*Elementos Generales*/

body{
    background-image: url(images/background_index.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    background-attachment:fixed;
}
nav{
    background-image:url(images/texture.jpg);
    background-position: center;
}

ul,li{
    list-style-type: none;
    display: inline-flex;
    gap: 3em;
}

footer{
    padding: 7em;
    background-image: url(images/texture.jpg);
    background-position:bottom;
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
}

footer h2{
    color: white;
}

footer p{
    color: rgb(228, 223, 223);
    background-color: black;
    margin-right: 62em;
}

p:hover{ /* Con el hover hice que todos los párrafos se vean con underline.*/

    text-decoration:underline
}


table,tr,td,th{
  border: solid 2px rgb(81, 59, 5);
  border-image: url(images/texture3.jfif);
  border-image-slice: 30;
  background-color: rgba(37, 36, 36, 0.425);

  
}

/*IDs*/

#navegador{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contenido{
  display:flex;
  flex-direction: column;
  align-items: center;

}

#contenido2{
    display: flex;
    flex-direction: row;
}

#imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}

#seccion{
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 4em;
}

#weeksong{
    font-family: "JustMe";
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lema{
    font-family: "Staatliches";
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -9em;
    font-size: 2em;
}

/* Clases */
.boton_inicio{
    color:  #FFD700;
    font-size: 30px;
    font-family: "ShortStack";
    cursor:pointer;
    padding: 2em;
}

.logo{
    width: 20em;
    cursor: pointer;
}

.logonirvana{
    width: 75em;
    text-align: center;
}

.boton_inicio:hover{
    padding: 2em;
    background-color: #FFD700;
    color: black;
}

.lema{
    font-size: 30px;
    color: aliceblue;
}

.caja_1{
    background-color:rgba(0, 0, 0, 0.747);
    border: 2px solid gray;
    padding-bottom: 4em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    font-family: "ShortStack";
    text-align: center;
    color: white;
}

.caja_1 img{
    width: 26em;
    border-bottom: 2px solid gray;
    padding: 0.1em;
    height: 400px;
}

.caja_ p{
    font-size: 1.9em;
    font-family:"Staatliches";
}

.caja_1 p+p{
    font-size: 2em;
    margin-top:-0.2em ;
    margin-bottom: 2em;
    border-bottom: 2px solid gray;
    font-family: "Sunshiney";
}
.tablesongs th,
.tablesongs td {
    padding: 25px;
}

.tablesongs {
    border-collapse: collapse;
    width: 90%;
}
.seemore, .seemore2 {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.seemore {
    background-color: #000;
    color: #fff;
}

.seemore:hover, .seemore:focus {
    background-color: #444;
}

.seemore2 {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

.seemore2:hover, .seemore2:focus {
    background-color: #000;
    color: #fff;
}
.seemore{
    padding-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 0.5em;
    background-color: transparent;
    border: 2px solid gray;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.seemore:hover{
    background-color: #FFD700;
    color: black;
}

.seemore2{
    padding-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 0.5em;
    background-color: #C0A86F;
    border: 2px solid gray;
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}

.seemore2:hover{
    background-color: white;
    color: black;
}

.image2{
    margin-bottom: -6em;
    display: inline;
    width: 30px;
}

.textofoot h2{
  font-family: 'ShortStack';
}

.textofoot p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}
.textofoot{
    margin-top: -5em;
}

.album_seccion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "ShortStack";
  color:#FFD700;
}
.letras_albumes {
    background-color: #000000c5;
}
.album_seccion h1{
  font-size: 3em;
}

.album_seccion h2{
  font-size: 2em;  
}

.album_seccion p {
  margin-top: -1em;
  margin-bottom: 3em;
}

.albumes{
  width: 20em;
}

.song_text{
  color: white;
}

.tablesongs th{
  font-size: 1.5em;
  font-family: "Staatliches";
}

.album_seccion2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 2em;
  border: solid 1px rgb(175, 175, 35);
  background-color: rgba(5, 5, 5, 0.562);

}

.kurtsays{
  font-family: "Swanky";
  color: #FFD700;
}

.kurtsays2{
  font-family: "Swanky";
  color: #fffafa;
  margin-top: -1em;
}

 /* Reyes FANS */

.fans {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    color: white;
}

.contenedoresfans {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 500px;
}

.testimoniosfans {
    background: linear-gradient(145deg, #000000, #c3e30ba7);
    border-radius: 30px;
    padding: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.bloquesfans {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.iconfans img{
    background: white;
    color: black;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.usuariofans {
    display: flex;
    flex-direction: column;
}

.usuariofans strong {
    font-size: 1.1rem;
}

.usuariofans span {
    font-size: 0.9rem;
    opacity: 0.8;
}

.textofans {
    font-style: italic;
    line-height: 1.6;
    font-size: 0.95rem;
    margin: 0;
}

.contactofans{
  max-width: 600px;
  width: 90%;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.campofans {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  flex: 1;
}

label {
  color: white;
  font-size: 14px;
  margin-bottom: 6px;
}

input,
textarea {
  padding: 10px;
  font-size: 14px;
}

textarea {
  min-height: 120px;
}

button {
  padding: 12px 90px;
  font-size: 14px;
  cursor: pointer;
  background-color: #222222;
  color: rgb(255, 255, 255);
}

/* Reyes MAPS */


/* TRISTAN */

/*Archive */
.titulo_archive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "ShortStack";
    color:#FFD700;
}

.subtitulo_archive{
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "ShortStack";
    color:#ffffff;
}

.imagen_primera{
    max-width: 200px;
    height: auto;
    position: relative;
    top: 13.5em;
    margin-left: 22%;
}

.imagen_segunda{
    max-width: 200px;
    height: auto;
    position: relative;
    top: 13em;
    margin-left: 65%;
}

.imagen_tercera{
    max-width: 200px;
    height: auto;
    position: relative;
    top: 13em;
    margin-left: 22%;
}

.imagen_cuarta{
    max-width: 200px;
    height: auto;
    position: relative;
    top: 13.5em;
    margin-left: 65%;
}


.imagen_primera,
.imagen_segunda,
.imagen_tercera,
.imagen_cuarta{
    border:3px solid #7a7420;
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.imagen_primera img,
.imagen_segunda img,
.imagen_tercera img,
.imagen_cuarta img {
    width: 200px;
    height: 200px;
    object-fit: cover;/* cubre el marco sin deformarse */
    display: block;
}
.imagen_centro img {
    width: 500px;
    height: auto;
}

.imagen_centro{
    width: 500px;
    margin: auto;
    border:3px solid #7a7420;
    background:black;
    position: relative;
}

/*Bloques de texto*/
.beginning_archive,
.debut_archive,
.breakthrough_archive,
.creative_archive,
.goodbye_archive{
    width:38%;
    background:#7a7420;
    color:#111;
    padding:1.5em;
    border-radius:25px;
    font-family:"ShortStack";
    margin:1em
}

/*Textos derecha*/
.beginning_archive,
.breakthrough_archive{
    margin-left: 38%;
}

/*Textos izquierda*/
.debut_archive,
.creative_archive{
    margin-left:20%;
}

/*Texto último*/
.goodbye_archive{
    margin: 5em auto;
    text-align:center;
}

/*Todo el texto de archive*/
.beginning_archive p,
.debut_archive p,
.breakthrough_archive p,
.creative_archive p,
.goodbye_archive p{
    font-size:0.9em;
    line-height:1.6;/*Distancia entre cada linea de texto*/
    color: #ffffff;
}

.linea_vertical{
    width: 3px;
    position: absolute;
    top: 18em;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);/*Centra exactamente la línea */
    background-color: #7a7420;
    z-index: -1;/*Para que esté atrás de todos los elementos*/
}

.archive_timeline{
    position: relative;
}


/*Responsive*/

@media (max-width: 1024px){
  #navegador{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.6em 1em;
    gap: 1em;
  }

  #navegador ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 0;
    margin: 0;
  }

  #navegador li{ display: flex; }

  .boton_inicio{
    padding: 1em;
    font-size: 0.95em;
  }

  .boton_inicio:hover{ padding: 1em; }

  .logo{ width: 14em; }

  .logonirvana{ width: min(50em, 92vw); }

  #lema{
    margin-top: -4em;
    font-size: 1.6em;
    text-align: center;
    padding: 0 1em;
  }

  #seccion{
    flex-wrap: wrap;
    gap: 2em;
    padding: 0 1em;
  }

  .caja_1{
    margin-left: 0;
    flex: 1 1 320px;
    max-width: 360px;
    padding-bottom: 2.5em;
  }

  .caja_1 img{
    width: 100%;
    height: auto;
    max-height: 280px;
    object-fit: cover;
  }

  .caja_1 p+p{ font-size: 1.6em; }

  .seemore,
  .seemore2{
    font-size: 1.1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.7em 1em;
  }

  #weeksong{
    font-size: 1.2em;
    padding: 0 1em;
  }

  .video iframe{
    width: 100%;
    max-width: 900px;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 0;
  }

  footer{
    padding: 3em 1.5em;
  }

  footer p{
    margin-right: 0;
    max-width: 100%;
  }

  .textofoot{ margin-top: 0; }

  .image2{ margin-bottom: 0; }

  .album_seccion h1{ font-size: 2.4em; }
  .album_seccion h2{ font-size: 1.8em; }
  .albumes{ width: 16em; }

  .tablesongs{
    max-width: 100%;
  }

  .tablesongs th{ font-size: 1.2em; }

  .linea_vertical{ display: none; }

  .archive_timeline{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
  }

  .imagen_primera,
  .imagen_segunda,
  .imagen_tercera,
  .imagen_cuarta{
    position: static;
    top: auto;
    margin: 0 auto;
    width: 240px;
    max-width: 80vw;
  }

  .imagen_primera img,
  .imagen_segunda img,
  .imagen_tercera img,
  .imagen_cuarta img{
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .beginning_archive,
  .debut_archive,
  .breakthrough_archive,
  .creative_archive,
  .goodbye_archive{
    width: min(92%, 720px);
    margin: 0 auto;
  }

  .beginning_archive,
  .breakthrough_archive,
  .debut_archive,
  .creative_archive{
    margin-left: auto;
    margin-right: auto;
  }

  .goodbye_archive{ margin: 0 auto; }

  .imagen_centro{
    width: min(92%, 720px);
    margin: 0 auto;
    position: static;
  }

  .imagen_centro img{
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px){
  body{ background-attachment: scroll; }

  #navegador{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    padding: 0.8em 1em;
  }

  #navegador ul{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
  }

  #navegador li{ display: block; }

  .boton_inicio{
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.8em 1em;
  }

  .boton_inicio:hover{ padding: 0.8em 1em; }

  .logo{ width: 12em; }

  .logonirvana{ width: min(26em, 90vw); }

  #lema{
    margin-top: 0;
    font-size: 1.2em;
    text-align: center;
    padding: 0 1em;
  }

  #seccion{
    flex-direction: column;
    gap: 1.5em;
    padding: 0 1em;
    margin-top: 2em;
  }

  .caja_1{
    width: 100%;
    max-width: 26em;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  .caja_1 img{
    max-height: 220px;
  }

  .caja_1 p+p{ font-size: 1.4em; }

  .seemore,
  .seemore2{
    width: calc(100% - 2em);
    margin: 0 1em;
    font-size: 1.05em;
    padding: 0.7em 1em;
  }

  #weeksong{
    font-size: 1.05em;
    padding: 0 1em;
  }

  .video iframe{
    max-width: 100%;
  }

  footer{
    padding: 2em 1em;
    align-items: center;
    text-align: center;
  }

  footer p{
    margin-right: 0;
  }

  .textofoot{ margin-top: 0; }

  .logos{
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
  }

  .image2{
    margin-bottom: 0;
    width: 28px;
  }

  .album_seccion h1{ font-size: 2.5em; }
  .album_seccion h2{ font-size: 2em; }
  .albumes{ width: 14em; }

  .album_seccion p{
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 1em;
  }

  .tablesongs{
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  .tablesongs th{ font-size: 1.05em; }

  .album_seccion2{
    margin-left: 1em;
    margin-right: 1em;
  }

  .contactofans{
    width: 92%;
  }

  .contactofans button{
    width: 100%;
    padding: 12px 0;
  }
}

@media (max-width: 480px){
  .logo{ width: 10.5em; }
  .logonirvana{ width: min(22em, 90vw); }

  .boton_inicio{ padding: 0.7em 0.8em; }

  .caja_1{ max-width: 22em; }
  .caja_1 img{ max-height: 190px; }

  .albumes{ width: 12em; }

  .image2{ width: 26px; }
}
