
/*FUENTES QUE HE IMPORTADO*/

@font-face {
  font-family: 'ShortStack';
  src: url('fonts/ShortStack.ttf') format('truetype');
}

@font-face {
  font-family: 'Sunshiney';
  src: url('fonts/Sunshiney-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Staatliches';
  src: url('fonts/Staatliches-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JustMe';
  src: url('fonts/JustMeAgainDownHere-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Swanky';
  src: url('fonts/SwankyandMooMoo-Regular.ttf') format('truetype');
}

/*Elementos Generales*/

body{
    background-image: url(images/background_index.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    background-attachment:fixed;
}
nav{
    background-image:url(images/texture.jpg);
    background-position: center;
}

ul,li{
    list-style-type: none;
    display: inline-flex;
    gap: 3em;
}

footer{
    padding: 7em;
    background-image: url(images/texture.jpg);
    background-position:bottom;
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
}

footer h2{
    color: white;
}

footer p{
    color: rgb(228, 223, 223);
    background-color: black;
    margin-right: 62em;
}

p:hover{ /* Con el hover hice que todos los párrafos se vean con underline. Si no estáis de acuerdo, comentádmelo. */

    text-decoration:underline
}


table,tr,td,th{
  border: solid 2px rgb(81, 59, 5);
  border-image: url(images/texture3.jfif);
  border-image-slice: 30;
  background-color: rgba(37, 36, 36, 0.425);

  
}

/*IDs*/

#navegador{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contenido{
  display:flex;
  flex-direction: column;
  align-items: center;

}

#contenido2{
    display: flex;
    flex-direction: row;
}

#imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}

#seccion{
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 4em;
}

#weeksong{
    font-family: "JustMe";
    color: white;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lema{
    font-family: "Staatliches";
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -9em;
    font-size: 2em;
}

/* Clases */
.boton_inicio{
    color:  #FFD700;
    font-family: "ShortStack";
    cursor:pointer;
    padding: 2em;
}

.logo{
    width: 20em;
    cursor: pointer;
}

.logonirvana{
    width: 75em;
    text-align: center;
}

.boton_inicio:hover{
    padding: 2em;
    background-color: #FFD700;
    color: black;
}

.lema{
    font-size: 30px;
    color: aliceblue;
}

.caja1{
    background-color:transparent;
    border: 2px solid gray;
    padding-bottom: 4em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    font-family: "ShortStack";
    text-align: center;
    color: white;
}

.caja1 img{
    width: 20em;
    border-bottom: 2px solid gray;
    padding: 0.1em;
    height: 290px;
}

.caja1 p{
    font-size: 1.9em;
    font-family:"Staatliches";
}

.caja1 p+p{
    font-size: 1.9em;
    margin-top:-1em ;
    margin-bottom: 2em;
    border-bottom: 2px solid gray;
    font-family: "Sunshiney";
}


.seemore{
    padding-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 0.5em;
    background-color: transparent;
    border: 2px solid gray;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.seemore:hover{
    background-color: #FFD700;
    color: black;
}

.seemore2{
    padding-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 0.5em;
    background-color: #C0A86F;
    border: 2px solid gray;
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}

.seemore2:hover{
    background-color: white;
    color: black;
}

.image2{
    margin-bottom: -6em;
    display: inline;
    width: 30px;
}

.textofoot h2{
  font-family: 'ShortStack';
}

.textofoot p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}
.textofoot{
    margin-top: -5em;
}

.album_seccion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "ShortStack";
  color:#FFD700;
}

.album_seccion h1{
  font-size: 3em;
}

.album_seccion h2{
  font-size: 2em;  
}

.album_seccion p {
  margin-top: -1em;
  margin-bottom: 3em;
}

.albumes{
  width: 20em;
}

.song_text{
  color: white;
}

.tablesongs th{
  font-size: 1.5em;
  font-family: "Staatliches";
}

.album_seccion2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 2em;
  border: solid 1px rgb(175, 175, 35);
  background-color: rgba(249, 246, 246, 0.206);

}

.kurtsays{
  font-family: "Swanky";
  color: #FFD700;
}

.kurtsays2{
  font-family: "Swanky";
  color: #ffffff;
  margin-top: -1em;
}

 /* Reyes  */

.fans {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    color: white;
}

.title {
    color: #FFD700;
    font-size: 3em;
}

.contenedoresfans {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 500px;
}

.testimoniosfans {
    background: linear-gradient(145deg, #000000, #c3e30ba7);
    border-radius: 30px;
    padding: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.bloquesfans {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.iconfans {
    background: white;
    color: black;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.usuariofans {
    display: flex;
    flex-direction: column;
}

.usuariofans strong {
    font-size: 1.1rem;
}

.usuariofans span {
    font-size: 0.9rem;
    opacity: 0.8;
}

.textofans {
    font-style: italic;
    line-height: 1.6;
    font-size: 0.95rem;
    margin: 0;
}