@font-face {
  font-family: 'ShortStack';
  src: url('fonts/ShortStack.ttf') format('truetype');
}

@font-face {
  font-family: 'Sunshiney';
  src: url('fonts/Sunshiney-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Staatliches';
  src: url('fonts/Staatliches-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JustMe';
  src: url('fonts/JustMeAgainDownHere-Regular.ttf') format('truetype');
}


@media (max-width: 768px) {
  .row { flex-direction: column; }
  nav ul { flex-direction: column; gap: 0.1px; }
}


#navegador{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contenido{
  display:flex;
  flex-direction: column;
  align-items: center;

}

#contenido2{
    display: flex;
    flex-direction: row;
}

#imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}

#seccion{
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 4em;
}

#weeksong{
    font-family: "JustMe";
    color: white;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lema{
    font-family: "Staatliches";
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -9em;
    font-size: 2em;
}

body{
    background-image: url(images/background_index.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
}
nav{
    background-image:url(images/texture.jpg);
    background-position: center;
}

ul,li{
    list-style-type: none;
    display: inline-flex;
    gap: 3em;
}

footer{
    padding: 7em;
    background-image: url(images/texture.jpg);
    background-position:bottom;
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
}

footer h2{
    color: white;
}

footer p{
    color: rgb(228, 223, 223);
    background-color: black;
    margin-right: 62em;
}

p:hover{
    text-decoration:underline
}


.boton_inicio{
    color:  #FFD700;
    font-family: "ShortStack";
    cursor:pointer;
    padding: 2em;
}

.logo{
    width: 20em;
}

.logonirvana{
    width: 75em;
    text-align: center;
}

.boton_inicio:hover{
    padding: 2em;
    background-color: #FFD700;
    color: black;
}

.lema{
    font-size: 30px;
    color: aliceblue;
}

.caja1{
    background-color:transparent;
    border: 2px solid gray;
    padding-bottom: 4em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    font-family: "ShortStack";
    text-align: center;
    color: white;
}

.caja1 img{
    width: 20em;
    border-bottom: 2px solid gray;
    padding: 0.1em;
    height: 290px;
}

.caja1 p{
    font-size: 1.9em;
    font-family:"Staatliches", Tahoma, Geneva, Verdana, sans-serif;
}

.caja1 p+p{
    font-size: 1.9em;
    margin-top:-1em ;
    margin-bottom: 2em;
    border-bottom: 2px solid gray;
    font-family: "Sunshiney";
}


.seemore{
    padding-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 0.5em;
    background-color: transparent;
    border: 2px solid gray;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.seemore:hover{
    background-color: #FFD700;
    color: black;
}

.seemore2{
    padding-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 0.5em;
    background-color: #C0A86F;
    border: 2px solid gray;
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}

.seemore2:hover{
    background-color: white;
    color: black;
}

.image2{
    margin-bottom: -6em;
    display: inline;
    width: 30px;
}

.textofoot h2{
  font-family: 'ShortStack';
}

.textofoot p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}
.textofoot{
    margin-top: -5em;
}

@media (max-width: 1024px){
  .logonirvana{
    width: 100%;
    max-width: 900px;
  }

  #seccion{
    flex-wrap: wrap;
    gap: 2em;
    padding: 0 1em;
  }

  #weeksong iframe{
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 16 / 9;
    height: auto;
    display: block;
  }

  footer p{
    margin-right: 0;
  }
}

@media (max-width: 768px){
  #navegador{
    flex-direction: column;
    gap: 1em;
  }

  nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
  }

  #lema{
    margin-top: 0;
    text-align: center;
    padding: 0 1em;
    font-size: 1.6em;
  }

  #seccion{
    flex-direction: column;
    align-items: center;
  }

  .caja1{
    margin-left: 0;
    width: 90%;
    max-width: 420px;
  }

  .caja1 img{
    width: 100%;
    height: auto;
  }

  footer{
    padding: 2.5em 1em;
    align-items: center;
    text-align: center;
  }

  .textofoot{
    margin-top: 0;
    width: 100%;
    max-width: 520px;
  }

  .textofoot p{
    margin: 0.8em auto 0;
    margin-right: 0;
    max-width: 48ch;
    padding: 0.7em 1em;
    background-color: rgba(0,0,0,0.75);
    border-radius: 10px;
  }

  .logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 1.6em;
  }

  .image2{
    margin-bottom: 0;
    width: 32px;
  }
}

@media (max-width: 480px){
  .logo{
    width: 12em;
  }

  .boton_inicio{
    padding: 1em;
  }

  #weeksong{
    font-size: 1.1em;
  }

  footer{
    padding: 2em 0.9em;
  }

  .textofoot{
    max-width: 420px;
  }

  .image2{
    width: 28px;
  }
}
